version: "3.9"

networks:
  ms-network:
    driver: bridge

volumes:
  pgdata:
  zookeeper-data:
  zookeeper-log:
  kafka-data:

services:

  postgres-db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: user
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - ms-network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    volumes:
      - zookeeper-data:/var/lib/zookeeper/data
      - zookeeper-log:/var/lib/zookeeper/log
    networks:
      - ms-network

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

    volumes:
      - kafka-data:/var/lib/kafka/data
    networks:
      - ms-network

  eureka-server:
    build: ./EurekaServer
    ports:
      - "8761:8761"
    networks:
      - ms-network

  api-gateway:
    build: ./API-Gateway
    ports:
      - "8001:8080"
    depends_on:
      - eureka-server
    networks:
      - ms-network

  asset-service:
    build: ./Asset-Service
    depends_on:
      - postgres-db
      - kafka
      - eureka-server
    networks:
      - ms-network

  workforce-service:
    build: ./WorkForce-Service
    depends_on:
      - postgres-db
      - kafka
      - eureka-server
    networks:
      - ms-network

  workorder-service:
    build: ./WorkOrderService
    depends_on:
      - postgres-db
      - kafka
      - eureka-server
    networks:
      - ms-network

  notification-service:
    build: ./NotificationService
    depends_on:
      - postgres-db
      - kafka
      - eureka-server
    networks:
      - ms-network
