version: "3.9"

networks:
  ms-network:
    driver: bridge

services:

  postgres-db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: user
    ports:
      - "5432:5432"
    networks:
      - ms-network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - ms-network

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - ms-network

  eureka-server:
    build: ./EurekaServer
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - ms-network

  api-gateway:
    build: ./API-Gateway
    container_name: api-gateway
    ports:
      - "8001:8080"
    depends_on:
      - eureka-server
    networks:
      - ms-network

  asset-service:
    build: ./Asset-Service
    container_name: asset-service
    depends_on:
      - postgres-db
      - kafka
      - eureka-server
    networks:
      - ms-network

  workforce-service:
    build: ./WorkForce-Service
    container_name: workforce-service
    depends_on:
      - postgres-db
      - kafka
      - eureka-server
    networks:
      - ms-network

  workorder-service:
    build: ./WorkOrderService
    container_name: workorder-service
    depends_on:
      - postgres-db
      - kafka
      - eureka-server
    networks:
      - ms-network

  notification-service:
    build: ./NotificationService
    container_name: notification-service
    depends_on:
      - postgres-db
      - kafka
      - eureka-server
    networks:
      - ms-network
